<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-37B978T\SQLEXPRESS;Initial Catalog=Enadoc125F646EC01A000;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
	
		 <appSettings>  
    <add key="ErrorLogPath" />  
    <add key="ExecutionLogPath" />  
  </appSettings> 
	
		<system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.office365.com" port="587" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>